@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
 

/* ground norm for the space */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general Styles */
body{
    display: flex;
    flex-direction: column;
    font-family: 'oswald' , sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0 2px;
    height: 100dvh;
}
#home a {
    color:white;
    text-decoration: none;

}
    
/* header */

#home{
    position:relative;
    font-family: 'Ubuntu sans' sans-serif;
    text-align: right;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: url(../image/pexels-syed-hasan-mehdi-270838-839428.jpg) no-repeat center/cover;
    box-shadow: 0 2px 2px #3a3a3a;
    
}

#logo { 
    
    height: 10%;
    width: 100vw;
    margin-bottom: 0px;
    margin-top: 0;
    text-align: center;
    font-size: 2em;  
   
}

.menu > li {
    font-size: 80%;
    margin-top: 0;
    margin-bottom: 0;
    height: 30%; 
    list-style-type: none;
    background-color:burlywood;
    text-transform: lowercase;
    display: flex;
    justify-content: right;   
}  



main{
    background-color: cadetblue;
    height: 100dvh;
    flex:1 0 auto;  
}

footer{
    background-color: burlywood;
}