@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
 

/* ground norm for the space */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general Styles */
body{
    display: flex;
    flex-direction: column;
    font-family: 'oswald' , sans-serif;
    
    margin: 0;
    padding: 0 2px;
    height: 100dvh;
}
#home a {
    color:white;
    text-decoration: none;

}
    
/* header */

#home{
    position:relative;
    font-family: 'oswald' , sans-serif;
    text-align: right;
    text-transform: lowercase;
    letter-spacing: 2px;
    background: url(../image/pexels-syed-hasan-mehdi-270838-839428.jpg) no-repeat center/cover;
    box-shadow: 0 2px 2px #3a3a3a;
    
}

#logo { 
    min-height: 40%;
    width: 100vw;
    padding-top: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: 2em;  
   text-transform: uppercase;
   text-decoration: wavy;

}

.menu {
    padding: 10px 15px;
    gap: 15px; 
    list-style-type: none;
    background-color:#3a3a3a;
    display: flex;
    justify-content: space-evenly;

}  
main

#playing {background: url(../image/pexels-anastasia-shuraeva-8466022.jpg) no-repeat center/cover;
    height: 300px;
    width: 100%;
    position:relative;
}

#two-playing {
    color: #fafafa;
    padding-bottom: 20px;
    font-size: 100%;
    position: relative;
    padding-top: 220px;
    padding-left: 10px;
    background-color: rgba(214, 159, 31, 0.48);
    width: 70%;
}

#reason {
    font-weight: normal;
    height: 100dvh;
    flex:1 0 auto;
    display: contents;
    font-size: 60%;
    padding-left: 10px; 
    
}
 /* footer detail */

 /* fixing gallary pictures */

 #gallery #pieces {
    width: 100%;
}


footer{
    background-color:#3a3a3a;
    color: #fafafa;
}

 #contact-text{
    text-align: center;
    padding-top: 20px;
    font-weight: normal;
 }
    
 
 #s-network {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;

}

.icon {
    color: #fafafa;
    padding: 5px;
    font-size: large;
}




